@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;700;900&family=Montserrat:wght@100;300;400;500;800&family=Raleway:wght@200;400;600&display=swap');
/* estilos: 
font-family: 'Libre Franklin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
.navbar{
    background: linear-gradient(to right, white, #8a0196);
}
.titulo {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    color: #5d0066;
    text-align: center;
    margin: 0.6em;
}
.col-sm-6 {
    margin-bottom: 1em;
}
.btn-primary {
    background-color: #8a0196;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
  }
.card-title{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.7em;
    font-weight: 700;
}
  